@import "carbon-components/scss/components/slider/slider";
@import "carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss";
@import "carbon-components/scss/globals/scss/vars.scss";
@import "../../cadre-vars.scss";

// $blue: rgb(5, 162, 230);

.calendar-contain {
  // margin-top: 3em;
  padding: 40px;
  height: 100%;
  background-color: white;
  border-radius: 0.5pc;
  transition: all 777ms;
}

.user-first-name {
  color: $cadre-blue;
}

// .blue {
//   text-decoration: none;
//   // color: blue
// }

.black {
  text-decoration: none;
  color: black;
}

.bc {
  text-decoration: none;
}

.intro {
  height: $layout-06;
  border-bottom: 1px solid gray;
}

.days {
  text-align: center;
}

.date {
  margin-bottom: $spacing-05;
  padding: 1rem;
  text-align: center;
}

.date-today {
  margin-bottom: $spacing-05;
  color: $cadre-orange;
  padding: 1rem;
}

.date-today:hover,
.date:hover {
  background: aliceblue;
  border-radius: 30px;
}

.slider {
  float: right;
}

.calendar-title {
  // margin-top: -$spacing-07;
  // margin-bottom: $spacing-09;
  @include carbon--font-family("sans");

  // font-weight: 600;
}

// .slider-row {
//     padding-bottom: $spacing-05;
//     margin-bottom: $spacing-07;
//     border-bottom: 1px solid #20202020;
// }
.flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.logo {
  border-radius: 13%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.date-head {
  height: calc(100vh - 10rem);
  overflow-x: hidden;
  position: relative;
}

// DAY COMPONENT SECTION STYLES

@keyframes rollout {
  0% {
      transform: translateX(50px);
  }
  100% {
      transform: translateX(0);
  }
}

.a-day {
  animation: .4s rollout;
  

  // width: 100%;   
}

.day-col {
  padding: $layout-02;
  transition: transform 777ms;
  background-color: white;
  // display: flex;
}

// .day-col:hover {
//   // transition: 777ms;
//   background-color: aliceblue;
// }

// .day-col.is-expanded:hover {
//   // background-color: white;
// }

.clndr-today {
  // background-color: aliceblue;
}

.clndr-day {
  margin-bottom: -$spacing-01;
  transition: width 777ms;
}

.clndr-today > .clndr-day,
.clndr-today > .clndr-date {
  color: rgb(83, 77, 83);
}

.shadow {
  box-shadow: 0px 8px 24px 1px #f0f0f0;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

//Badge Styles
.badge-contain {
  display: flex;
  justify-content: center;
}

.badge:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.4);
}

.badge {
  width: 100%;
  height: fit-content;
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 25px;
  margin-bottom: $spacing-05;
  text-decoration: none;
  color: rgb(255, 255, 255) !important; 
}

.badge p {
  font-size: 0.8rem !important;
}

.see-all {
  color: orange;
  text-decoration: underline;
  background: none;
  border: none;
}

.lecture-card-button {
  border: none;
  background: lightblue;
  border: 1px solid black;
  z-index: 2;
}

.link {
  text-decoration: none;
}

.link:hover h5{
  text-decoration: underline;
}

.exams {
  background-color: $cadre-blue;
}

.assignments {
  background-color: $cadre-orange;
}

.tag {
  border: 2px solid $cadre-orange;
  padding: $spacing-03;
  margin: $spacing-03;
  width: 100%;
  border-radius: 25px;
  background: none;
}

.tag:hover {
  color: white;
  background: $cadre-orange;
}

.card  {
  text-align: left;
  border: 2px solid black;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  margin-bottom: $spacing-07;
  padding: $spacing-05;
  width: 100%;
  min-height: fit-content; 
  background-color: none;
  overflow-wrap: break-word;
}

.card-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: $spacing-02;
  padding-bottom: $spacing-05;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  margin-right: $spacing-05;
}

.card-left h6 {
  font-weight: 500;
  font-size: 0.8em;
}

.card-left h4 {
  font-weight: 900;
  color: $secondary-grey;
  margin: $spacing-02 0;
}

.card-right {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.card h6 {
  color: $secondary-grey;
}

// .fullname-course,
// .fullname-assignment,
// .fullname-exam {
//   margin-bottom: $spacing-02;
// }

.assignment-small, .exam-small  {
  text-align: center;
  border: 3px solid orange;
  background: none;
  border-radius: 25px;
  margin-bottom: $spacing-05;
  margin-right: $spacing-05;
  width: fit-content;
  padding: 0 $spacing-05;
  min-height: fit-content;
  overflow-wrap: break-word;
}

.exam-small:hover, .assignment-small:hover {
  background: orange;
  color: white;
}

//Lecutre Card Styles

.course {
  border-left: 3px solid $secondary-grey;
  margin-bottom: $spacing-07;
  padding-left: $spacing-05;
  width: 100%;
  background-color: none;
  min-height: fit-content;
  overflow-wrap: break-word;
  transition: background 111ms linear
}

.time {
  color: $secondary-grey
}

#clndr-col-0 .course {
  border-left: 3px solid $cadre-orange;
}

// .course-id {
//   margin-bottom: -$spacing-01;
// }

.course:hover {
  background-color: $highlight-orange;
}

// .zoomlink {
//   margin-bottom: $spacing-03;
// }

//Expanded View Styles Section

.is-expanded {
  // padding-left: 10% !important;
  // padding-right: 10% !important;
  // opacity: 0.7;
  // background-color: white;
  // flex-grow: 12;
  position: relative;
  margin: 0 auto;
  width: calc(100vw - 20em) !important;
  height: 100%;
  z-index: 999;
  transition: 777ms;
}

.is-expanded .course {
  width: 100%;
  // background-color: #f0f0f0;
}

.breadcrumbs {
  color: black;
  margin-bottom: $spacing-07;
}


//Container for back button to schedule
.icon-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: none;
  border: none;
}

.icon-text:hover * {
  fill: $highlight-orange;
  color: $secondary-pink !important;
  cursor: grab;
}

.icon-text p{
  font-size: 0.9rem;
  display: inline-table;
  height: inherit;
  vertical-align: middle;
}

.back-button {
  fill: $cadre-orange;
}

//div of all lecture cards
.courses {
  width: 100%;
}

.flex {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.right-side {
  width: 100%;
}

.syllabus-view-button {
  width: 80%;
  height: 20px;
  background: lightskyblue;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.syllabus-column {
  margin: 40px;
  margin-top: 0px;
  overflow: auto;
  text-align: left;
  padding: 1%;
}

.syllabus-column header {
  margin-bottom: 40px;
}

.zoomlink {
  width: fit-content;
}

.xtra-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
  width: 100%;
}

// .calendar-contain .bx--row {
//     justify-content: center;
// }

//Carbon UI Overrides
.bx--grid {
  margin-right: 0;
  transition: width 777ms;
}
.bx--content {
  background-color: transparent;
}
.bx--text-input.bx--slider-text-input {
  display: none; //ugly number indicator in slider code
}
.bx--slider__thumb {
  height: $spacing-05;
  width: $spacing-05;
}

.date-head .bx--col:first-child {
  padding-left: $spacing-01;
  // padding-right: $spacing-01;
}

.date-head .bx--col:last-child {
  // padding-left: $spacing-01;
  padding-right: none;
}