
@import "carbon-components/scss/components/slider/slider";
@import "carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss";
@import "carbon-components/scss/globals/scss/vars.scss";


.view-container { 
  display: flex;
  padding: 20px;
  flex-direction: column;
  // width: calc(100% - 16rem);
  justify-content: space-between;
  align-items: center;
}

.class-container {
  margin-left: auto;
  width: calc(100% - 16rem);
  height: 100%;
  padding: 20px;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.breadcrumbs {
  color: black;
  margin-bottom: $spacing-07
}

.class-column {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.class-column h5 {
  margin-bottom: $spacing-07;
}