@import '../../cadre-vars.scss';
@import "carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss";
@import "carbon-components/scss/globals/scss/vars.scss";


// .login-form {
//   padding-top: 10%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

.login-page {
  background: $cadre-blue;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.submit {
  color: white;
  background: $cadre-orange;
  border: none;
  padding: 1em 2em;
  border-radius: 25px;
  
}

.submit:hover {
  background: rgba(151, 116, 91, 0.95)
}
