@import './cadre-vars.scss';
@import "carbon-components/scss/globals/scss/vars.scss";



body {
  
} 

.App {
  overflow-x: hidden;
}

//navbar

.nav {
  padding-top: $spacing-05;
  background-color: $cadre-orange;
  
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover{
  text-decoration: none;
  color: white;
}

.nav-link-home {
  text-decoration: none;
  padding: 2rem;
  padding-top: 3rem;
  color: white;
}

.zoom-link-list {
  text-decoration: none;
  background: inherit;
}

.nav-zoom-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-left: 1rem;
}

.nav-zoom-link:hover {
  color: royalblue;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//overrides 
.bx--content {
  margin-left: auto;
  width: calc(100% - 16rem);
  padding: 0;
}

// .bx--side-nav__navigation {
//   background-color: #fafafa;
// }