@use './type.scss';
@import 'carbon-components/scss/globals/scss/_css--reset.scss';
// @import 'carbon-components/scss/globals/scss/_css--font-face.scss';
@import 'carbon-components/scss/globals/scss/_css--helpers.scss';
@import 'carbon-components/scss/globals/scss/_css--body.scss';
@import 'carbon-components/scss/components/ui-shell/ui-shell';

body {

}

.App {
  overflow-x: hidden;
}

.blue {
  color: salmon;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//overrides 
.bx--content {
  margin-left: auto;
  width: calc(100% - 16rem);
  padding: 0;
}

.bx--side-nav__navigation {
  border-right: 1px solid grey;
}