@import 'carbon-components/scss/components/slider/slider';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss';
@import 'carbon-components/scss/globals/scss/vars.scss';

.calendar-contain {
    margin-top: 3em;
    padding: 40px;
    background-color: white;
    text-align: center;
    border-radius: 0.5pc;
    transition: 777ms;
}

.calendar-title {
    margin-top: -$spacing-07;
    margin-bottom: $spacing-09;
    @include carbon--font-family('sans');
    // font-weight: 600;
}

.slider-row {
    padding-bottom: $spacing-05;
    margin-bottom: $spacing-07;
    border-bottom: 1px solid #20202020;
}

@keyframes rollout {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}

.a-day {
    animation: .4s rollout;
}

// .calendar-contain .bx--row {
//     justify-content: center;
// }

//overrides
.bx--grid {
    margin-right: 0;
}
.bx--content{
    background-color: transparent;
}
.bx--text-input.bx--slider-text-input {
    display: none;
}